<div class="jumbotron">
    <h1>Система перевода естественно-языковых вопросов</h1>
    <p class="lead">Данная система позволяет сделать запрос к базе даных с помощью вопроса на естественном русском языке</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>С чего начать?</h2>
        <p>Перейдите по ссылке ниже и введите свой вопрос</p>
        <p><a class="btn btn-default" href="/DbQuery/DbQuery">Далее &raquo;</a></p>
    </div>
</div>
