<style>
    body {
        margin-top: 20px;
    }
</style>

<div>
    <form>
        <p margin-top="200px"><strong>Результат:</strong></p>
        <p>
            @ViewBag.Result
        </p>
    </form>
</div>