@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        margin-top: 20px;
    }
</style>

<div>
    <form method="post">
        <p margin-top="200px">
            <label>Введите свой вопрос:</label><br />
            <input size="40" type="text" name="question" />
        </p>

        <p><input type="submit" value="Отправить"/></p>
    </form>
</div>
